RewriteEngine On

# Serve /home/ when requesting /
RewriteRule ^$ home/ [L]

# Remove .html and add trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1/ [L]